@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: "Open Sans", serif;
    font-size: 14px;
    width: 100%;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

/*first-section*/

.container {
    width: 100%;
    display: flex;
    padding: 92px 0;
}

.first-section {
    background-color: #47b0f2;
    padding: 20px 0 92px 0;
    flex-direction: column;
}

.container .content {
    width: 100%;
    max-width: 1171px;
    display: flex;
    margin: 0 auto;
}

.first-section .content p {
    margin: 0;
}


.first-section .logo {
    width: 100%;
    max-width: 1171px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
}


.first-section .logo img {
    padding-left: 16px;
    margin-top: 60px;
}

.first-section .content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
    flex: 1.1;
}

.first-section .content .text .text-in {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -34px;
}

.first-section .content .text h1 {
    font-size: 31px;
    color: white;
    font-family: Montserrat, serif;
    margin-top: 65px;
}

.first-section .content .text h1 span {
    font-size: 60px;
}

.first-section .content .text p {
    margin-top: 24px;
    font-size: 16px;
    color: white;

}

.first-section .content .text .btn {
    display: flex;
    align-items: center;
}

.first-section .content .text .btn button {
    background-color: #ffd429;
    border: 0;
    cursor: pointer;
    font-family: Montserrat, serif;
    font-weight: bold;
    height: 51px;
    border-radius: 6px;
    margin-top: 24px;
    width: 100%;
    max-width: 280px;
}

.first-section .content .text .btn button:active {
    top: 1px;
    position: relative;
}

.first-section .content .img {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    flex: 1;
}

.first-section .content .img img {
    width: 118%;
    max-width: 641px;
    position: relative;
    left: -60px;
}

/*second-section*/
.second-section .content {
    display: flex;
    flex-direction: column;
}

.second-section .content .header {
    font-family: Montserrat, serif;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;

}


.second-section .content .body-second-section {
    width: 100%;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

.second-section .content .body-second-section .column-second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.second-section .content .body-second-section .column-second-section .image {
    display: flex;
    justify-content: center;

}

.second-section .content .body-second-section .column-second-section .image img {
    height: 70px;
    width: auto;
}

.second-section .content .body-second-section .column-second-section .text {
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    font-family: Montserrat, serif;
    font-weight: bold;
}


.second-section .content .body-second-section .column-second-section p {
    text-align: center;
    margin: 0
}


/*third-section */
.third-section {
    background-color: #ecf3f8;
}

.third-section .content {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.third-section .content .header {
    font-family: Montserrat, serif;
    font-weight: bold;
    margin: 0 0 64px 0;
    font-size: 30px;
    text-align: center;
    padding: 0 16px;

}

.third-section .content .form-box {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 340px;
}

.third-section .content .form-box form {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;


}


.third-section .content .form-box .form-el {
    height: 45px;
    background-color: #ffffff;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 0 20px;
    width: calc(100% - 80px);
    margin: 0 20px 16px 20px;

}

.third-section .content .form-box .form-el::placeholder {
    color: gray;
}

.third-section .content .form-box .btn {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.third-section .content .form-box .btn button {
    background-color: #ffd429;
    border: 0;
    cursor: pointer;
    font-family: Montserrat, serif;
    font-weight: bold;
    height: 51px;
    border-radius: 6px;
    width: 100%;
    margin: 0 20px;
}

.third-section .content .form-box button:active {
    top: 1px;
    position: relative;
}

/*footer*/
.footer {
    background-color: #164d7a;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0;
}

.footer div {
    display: flex;
    align-content: center;
    color: white;
    align-items: center;
    margin: 0 auto;
}

/*@media*/

@media (max-width: 875px) {
    .first-section .content {
        flex-direction: column-reverse;
    }

    .first-section .content .text {
        text-align: center;
    }

    .first-section .content .text h1 {
        font-size: 24px;
        margin-top: 65px;
    }

    .first-section .content .text h1 span {
        font-size: 32px;
    }

    .first-section .content .text .btn {
        justify-content: center;
    }

    .first-section .content .img {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .first-section .content .img img {
        width: 100%;
        justify-content: center;
        max-width: 587px;
        top: 26px;
        left: 0;
    }

    .first-section .logo img {
        padding-left: 30px;
    }


}

@media (max-width: 1000px) {
    .second-section .content .body-second-section {
        flex-direction: column;
    }


    .second-section .content .body-second-section .column-second-section {
        margin-top: 20px;
    }
}

@media (max-width: 1275px) {
    .first-section .content .img img {
        width: 100%
    }
}
