@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: "Open Sans", serif;
    font-size: 14px;
    width: 100%;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.container.first-section .content p {
    margin: 0;
}

.container.second-section .content .img-text-section .img-text-second-section p {
    text-align: center;
    font-size: 14px;
}

.container {
    width: 100%;
    display: flex;
    padding: 48px 0;
    height: 100%;
}

.container.first-section {
    background-color: #47b0f2;
    max-height: 824px;
}

.container .content {
    width: 100%;
    max-width: 1171px;
    display: flex;
    margin: 0 auto;
}

.container .content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
    flex: 1.1;
}

.container .content .text h1 {
    font-size: 31px;
    color: white;
    font-family: Montserrat, serif;
    margin-top: 65px;
}

.container .content .text h1 span {
    font-size: 60px;
}

.container .content .text p {
    margin-top: 24px;
}

.container .content .text .button-container, .container.third-section .content .form .button-container {
    display: flex;
    align-items: center;
}

.container .content .text .button-container button {
    margin-top: 24px;
}

.container .content .text .button-container button, .container.third-section .content .form .button-container button {
    background-color: #ffd429;
    border: 0;
    cursor: pointer;
    font-family: Montserrat, serif;
    font-weight: bold;
    width: 348px;
    height: 51px;
}

.container .content .text button:active {
    top: 1px;
    position: relative;
}

.container .content .text p {
    font-size: 16px;
    color: white;
}

.container .content .img {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    flex: 1;
}

.container .content .img img {
    width: 118%;
    max-width: 641px;
    position: relative;
    left: -60px;
}

@media (max-width: 875px) {
    .container .content {
        flex-direction: column-reverse;
    }

    .container .content .img {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .container .content .img img {
        width: 100%;
        justify-content: center;
        max-width: 587px;
        top: 80px;
        left: 0;
    }

    .container .content .text {
        text-align: center;
    }

    .container .content .text h1 {
        font-size: 24px;
        margin-top: 65px;
    }

    .container .content .text .button-container {
        justify-content: center;
    }

    .container .content .text h1 span {
        font-size: 32px;
    }

}

.container.first-section .content .text .text-in {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -34px;
}

.container.first-section .content .logo {
    position: absolute;
    left: 16px;
    top: 0;
}

.container.first-section .content {
    position: relative;
}

.container.second-section {
    max-height: 500px;
}

.container.second-section .content .img-text-section {
    width: 100%;
    margin-top: 72px;
}

.container.second-section .content {
    display: flex;
    flex-direction: column;
}

.container.second-section .content .img-text-section {
    display: flex;
    justify-content: space-between;
}

.container.second-section .content .img-text-section .img-text-second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.img-second-section img {
    height: 70px;
    width: auto;
}

.img-second-section {
    display: flex;
    justify-content: center;

}

.text-second-section {
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center
}

.text-second-section, .head-text-second-section, .text-third-section {
    font-family: Montserrat, serif;
    font-weight: bold;

}

.text-third-section {
    margin: 110px 0 64px 0;
    font-size: 30px;
    text-align: center
}

.container.second-section .content .head-text-second-section {
    font-size: 30px;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-second-section {
    margin-bottom: 40px;
}

@media (max-width: 1000px) {
    .container.second-section .content .img-text-section {
        flex-direction: column;
    }

    .container.second-section {
        max-height: 120%;
        height: 120%;
    }
    .container.second-section .content .img-text-section .img-text-second-section{
        margin-top: 20px;
    }
}

.container.third-section .content, .form {
    flex-direction: column;
    display: flex;
    align-items: center;


}

.container.third-section {
    background-color: #ecf3f8;
    max-height: 600px;

}

.container.third-section .content .form .form-el {
    margin-bottom: 16px;
    width: 340px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 6px;
    border-color: lightgray;

}

.container.third-section .content .form .form-el::placeholder {
    padding-left: 20px;
    color: gray;
    font-family: "Open Sans", serif;
    font-size: 14px
}

.footer {
    background-color: #164d7a;
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 140px;
    height: 100%;
}

.footer div {
    display: flex;
    align-content: center;
    color: white;
    align-items: center;
}
